@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply text-dark min-h-screen;
        background-image:
            linear-gradient(to right, rgba(229, 231, 235, 0.2) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(229, 231, 235, 0.2) 1px, transparent 1px);
        background-size: 100px 100px;
    }
}

@layer utilities {

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #FFF7ED;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #FB8C3E;
        border-radius: 10px;
    }
}

::selection {
    color: #1E1E1E;
    /* dark color */
    background-color: #FB8C3E;
    /* orange color */
}

input{
height: 36px;
border-radius: 6px;
padding: 0 8px;
}

